.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.vscode
*.vscode
*.idea

cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests
.idea/caches/build_file_checksums.ser

.idea/*
!.idea/codeStyles
!.idea/runConfigurations

src/**/[Ll]ibrary/
src/**/[Tt]emp/
src/**/[Oo]bj/
src/**/[Bb]uild/
src/**/[Bb]uilds/
src/**/[Ll]ogs/
src/**/[Uu]ser[Ss]ettings/

src/**/[Mm]emoryCaptures/
src/**/[Rr]ecordings/

src/**/[Aa]ssets/Plugins/Editor/JetBrains*

!**/[Hh]ype[Ff]ire/
!**/[Hh]ype[Ff]ire/**
!**/[Hh]ype[Ff]ire/[Ll]ibrary/
**/[Hh]ype[Ff]ire/**/*.cs.metas
**/[Hh]ype[Ff]ire/**/*.csproj
**/[Hh]ype[Ff]ire/**/*.sln
src/**/*.apk
src/**/*.unitypackage
*.mp4
.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

src/**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
src/**/[Aa]ssets/[Ss]treamingAssets/aa.meta
src/**/[Aa]ssets/[Ss]treamingAssets/aa/*